<div class="container-fluid mt-5 p-5 w-100">
    <div class="row col-12 justify-content-center mili">
        <div class=" col-12 text-center">
                <br />
                <br />
                <br />
                <h2 class="mili">Welcome to DostawcyXML app 1.0</h2>
                

                <h3 class="mili-t">Upload, add or remove files from uploaded</h3>
                <h3 class="mili-t">Display </h3>
                <h3 class="mili-t">Mark to accept, remove items from list</h3>
                <h3 class="mili-t">Download</h3>
                <h3 class="mili-t">Enjoy</h3>           
        </div>
    </div>
</div>
